@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700")

body {
  font-weight: 300;
  background: #F7F9FC;
  color: #398AA8;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: lighter;
}

h1 {
  color: #7A328C;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #398AA8;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 900;
}

p {
  color: #398AA8;
  font-family: 'open sans', sans-serif;
  font-size: 15px;
}

.btn-purple  {
  background-color: #7A338C;
  color: white;
  font-family: 'open sans', sans-serif;
  font-size: 15px;
  font-weight: 900;
  padding: 10px 15px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
}

.btn-purple:hover {
  background-color: grey;
  color: white;
  text-decoration: none;
}

.image-circle {
  border-radius: 10%
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
  font-size: 40px;
  color: #7A338C;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.container {
  width: 650px;
  margin: 0 auto;
}

.card {
  background-color: white;
  padding: 50px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.fab {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.social-link {
  color: #7A338C;
}

.social-link:hover {
  color: grey;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 650px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 550px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 350px;
  }
}
